namespace: k-att-y70-dev

names:
  deployment: backend-api-deployment
  service: backend-api
  configmap: backend-api-configmap
  secret: backend-api-secret
  route: backend-api-route  
  hpa: backend-api-hpa

labels:
  app: backend-api
  areanegocio: tecnologia

replicas: 1

image:
  repository: boriscutos/backend-api
  tag: ""                 # se pasa por --set image.tag=build-123
  pullPolicy: Always

containerPort: 3000
servicePort: 3000


route:
  host: backend-api-k-att-y70-dev.apps.rm2.thpm.p1.openshiftapps.com  # Hostname fijo

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

probes:
  liveness:
    path: /health
    port: 3000
    failureThreshold: 3
    initialDelaySeconds: 15
    periodSeconds: 10
  readiness:
    path: /health
    port: 3000
    failureThreshold: 3
    initialDelaySeconds: 10
    periodSeconds: 10

config:
  BACKEND_DATA_URL: "http://backend-data.k-att-y70-dev.svc.cluster.local:3000"

hpa:
  minReplicas: 1
  maxReplicas: 5
  cpuAverageUtilization: 80

# Secret para uso futuro
secret:
  PASSWORD_B64: "ZHVtbXk="  