namespace: k-att-y70-dev

names:
  deployment: frontend-deployment
  service: frontend-service
  configmap: frontend-configmap
  hpa: frontend-hpa
  secret: frontend-secret
  pvc: frontend-pvc

labels:
  app: frontend
  areanegocio: tecnologia

replicas: 1

image:
  repository: boriscutos/frontend
  tag: ""                 # se pasa por --set image.tag=build-123
  pullPolicy: Always

containerPort: 3000
servicePort: 3000

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

probes:
  # Nginx no tiene endpoints HTTP personalizados, usamos TCP
  liveness:
    port: 3000
    failureThreshold: 3
    initialDelaySeconds: 10
    periodSeconds: 10
  readiness:
    port: 3000
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10

config:
  BACKEND_API_URL: "http://backend-api.k-att-y70-dev.svc.cluster.local:3000"

hpa:
  minReplicas: 1
  maxReplicas: 3
  cpuAverageUtilization: 80

secret:
  PASSWORD_B64: "ZHVtbXk=" 

